/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 12, 2014, 5:44:15 PM
    Author     : bastianmorath
*/


.white_content {

    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;

    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
    overflow: auto;
    background-color: white;
    position: relative;

}

.veranstaltungenMelden{
    width:500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom : 40px;
    margin-top:30px;
    color: #D6D2CB;
    outline: none;
    resize: none;
}

.closeButton{
    color: #28282e;
    text-decoration: none;
    position: relative;
    right:260px;
   top: 440px;
    width:10px;     
}

.closeButton:hover{
    color:  #ef4035;
}
.sendButton{
    color: #28282e;
    text-decoration: none;
    position: relative;
    left:200px;
   top: 440px;
    width:10px;
}

.sendButton:hover{
    color:  #ef4035;
}



.title{
    font-size: 20px;
    color: #ef4035;
    padding-left: auto;
    padding-right: auto;
    padding-bottom: 30px; 
    padding-top: 10px;
    text-align: center;
    float: none;
}



.nameTextbox{ 
    float:left;
    height:20px;
} 

.descriptionTextbox{ 
    height:20px; 
    float:left;
    max-height: 120px;
}

.URLTextbox{ 
    float:left;
    height:20px;
} 

.veranstaltungenMelden p{
    color: #28282e;
    float: left;
    margin-right: 10px;
    margin-bottom: 3px;
}



textarea{
    font-size: 12px;
    color: #28282e;
    margin-top: 20px;
    margin-bottom: 15px;
    border: 0; 
    height:60px; 
    width: 470px; 
    border: 1px grey solid;
    border-radius: 5px;
    border-color: grey;

    -webkit-background-clip: padding-box; 
    outline:0; 
    resize: none;
}


.subjectSquaresInAddVeranstaltung{
    width:95px;
    height:710px;
;
    position: absolute;
    top: 0px;
    right: 0px;
}

.subjectSquaresInAddVeranstaltung .square{
    margin-top:0px;
    margin-bottom:10px;
}
