/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 17, 2014, 3:43:26 PM
    Author     : bastianmorath
*/

.bottomBar {
    width: 700px;
    height: 39px;
    background-color: gainsboro;
    vertical-align: bottom;
    display: inline-block;
}

.bottomBar p {
    font-size: 12px;
    color: #28282e;
    margin-top: 9px;
    width: 100px;
    position: relative;
    height: 17px;
}

.date {
    float: right;
}

.numberOfComments {
    float: left;
    margin-left: 33px;
}

.showCommentsButton {
    float: none;
    margin-left: 200px;
    width: 40px;
}

.showCommentsButton:hover {
    cursor: pointer;
}

.commentBox {
    background-color: gainsboro;
    overflow: auto;
    width: 700px;
    margin-top: 0px;
    font-size: 12px;
    vertical-align: bottom;

}

.comment {
    margin-left: 30px;
    margin-right: 30px;
    overflow: auto;
    border-top: 1px solid #28282e;
    position: relative;
}

.commentUserName {
    color: #ef4035;
    height: 30px;
    width: 130px;
    position: relative;
    right:0px;
    bottom: -10px;
    text-align: right;
}

.commentUserComment {
    margin-left: 10px;
    float: left;
    width: 500px;
}

.commentTextField{
    margin-bottom: 60px;
    margin-top: 10px;
}

.commentTextBox {
    font-size: 12px;
    color: #28282e;
    padding-top: 5px;
    margin-top: 0px;
    margin-bottom: 20px;
    margin-left: 30px;
    border: 0;
    height: 20px;
    width: 635px;
    border: 1px grey solid;
    border-radius: 5px;
    border-color: grey;

    -webkit-background-clip: padding-box;
    outline: 0;
    resize: none;
    max-height: 130px;
}

.commentSendButton {
    color: #28282e;
    text-decoration: none;
    position: relative;
    float: right;
    margin-right: 50px;
    margin-bottom: 20px;
}

.commentSendButton:hover {
    color: #ef4035;
    cursor: pointer;
}

.breakline {
    width: 700px;
    border-bottom: 1px solid #28282e;
}