/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 31, 2014, 10:49:38 AM
    Author     : bastianmorath
*/


.container{
    background-color: #f7f7f7;
    width: 700px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 0px;
    min-height: 250px;
    position: relative;
    font-size: 14px;
    margin-bottom : 13px;
}

.description{
    color:  #28282e;
    width: 400px;
    float:left;
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 15px;
    margin-bottom: 50px;
    min-height: 133px;
}

.userName p{
    text-align: center;
    color: #ef4035;
    padding-left:  30px;
    width:100px
}

.userName{
    padding-top: 30px;
float: left;
    width: 100px;
}



.video{
    margin-left : 150px;
    margin-top: 0px;
    margin-bottom: 40px;
    width: 400px;
    height: 250px;
}

.containerSquare{
    opacity:0.9;
    float: left;
    width:90px;
    height:90px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 92px;
    background-color:  dodgerblue;
    position: absolute;
    top: 0px;
    right: 0px;
    margin-top: 0px;
}


.NumberOfMintUps{
    font-size: 40px !important;
    width: 70px;
    position: absolute;
    text-align: center;
    top: 90px;
    right:10px;
    color:   #ef4035;
}

.mintUps{
    font-size: 12px;
    width: 60px;
    position: absolute;
    top: 160px;
    right:10px;
    color:   #ef4035;
}

.upMintButton{
    width: 50px;
    position: absolute;
    top: 100px;
    right:20px;  

}

.upMintButton:hover{
    cursor: pointer;
}