/* 
    Document   : MINT_Style
    Created on : 26.03.2014, 11:03:43
    Author     : bastian.morath
    Description:
        Purpose of the stylesheet follows.
*/

#navbar ul { 
    font-size: 12px;
    margin: 0; 
    padding: 15px; 
    list-style-type: none; 
    text-align: center; 
    background-color: #ffffff
}

#navbar ul li {  
    display: inline; 
} 

#navbar ul li a {
    text-decoration: none;
    padding: .6em 1em;
    color: #28282e;
}

#navbar ul li a:hover {
    color: #ef4035;
}

#navbar  a {
    cursor: pointer;
}

#navbar{
    border-top: 5px #ef4035 solid;
    position: relative;
}

#navbar_user{
    float:right;
    margin-right: 20px;
    margin-top: -29px;
    font-size: 12px;
    list-style-type: none;
    text-align: center;
}

#navbar_user:hover {
    color: #ef4035;
}